/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
.about-section{
    display: flex;
    flex-direction: column;

    & img{
        width: 50%;

    }

    & .about-item2{
        width: 50%;
        height: 70%;

    }
}



.contact {
    &h1 {
        margin-top: 0%;
    }
}

    

    


