/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/


body{
font-family: "Poppins", "Noto Sans JP",sans-serif;
}
img {
  max-width: 100%;
  
}

.font-sm{
  font-size: 14px;
}

.font-md{
  font-size:17px;
}

.font-lar{
  font-size:20px;
}

.content-width {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
}




/* ここまで定義*///////////////////////////////

  


.global-container{
  width: 100vw;
  position: relative;
  left: 0;
  top: 0;
}


.logo__yk{
     font-size: 32px;
     color: $cWhite;
  }
  
.logo__design{
  font-size: 18px;
  color: $cWhite;
}

.mobile-menu__item{
  list-style: none;

   & span{
    color: $cBlack;

    &.main-title{
      font-size: 32px;
    }

    &.sub-title{
      font-size: 14px;
      display: block;
    }



  }
}


.header{
  /*background-image:url(/images/headerimg-min.jpg)!important;*/
  height: 100vh;
  width: 100%;
  background-repeat: no-rerpeat;
  background-size: cover;
  background-position: center;
}



.header-img{
  z-index: 50;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1000;
  position: absolute;

}
.pcmenu{
  display: none;
}

.mobile-menu__btn{
  background-color: transparent;
  border: none;
  right: 0;
  z-index: 100;
  outline: none;



  & > span{
      background-color: $cWhite;
      width: 35px;
      height: 2px;
      display: block;
      margin-bottom: 9px;
      transition: transform 0.7s;
      
      &:last-child{
          margin-bottom: 0;
      }


  }
}



.header-line{
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.mobile-menu{
  position: absolute;
  top: 0%;
  right:0vw;
  width:65vw;
  height: 100vh;
  transition: .7s;
  z-index: 2;
  opacity: 0;
  }
  .mobile-menu-main{
    padding-top: 75%;
  }
  



.menu-open{
  transition: transform 1.5s;
  
  & .mobile-menu__btn{
    outline: none;
      & > span{
          background-color: $cBlack;

          &:nth-child(1){
              transform: translateY(11px) rotate(135deg);
          }
          &:nth-child(2){
              transform: translateX(-18px) scaleX(0);
          }
          &:nth-child(3){
              transform: translateY(-11px) rotate(-135deg);
          }
      }
  }
  &.mobile-menu{
    position:absolute;
    top: 0%;
    right: 0%;
    background-color: $cGray;
    opacity: 0.9;
    width: 65vw;
    height: 100vh;
    z-index: 2;
    & >ul{
    padding-top: 75%;
    }
    & a{
      text-decoration: none;
    }

  }
}







.news{
  z-index: 1;
  position: absolute;
  bottom:0;
  left: 0;
  background-color: $cWhite;
  width: 100%;
}







h1{
  color: $cBlack;
  @extend .font-lar;
  @extend .content-width;
  margin-top: 20%;
  margin-bottom: 5%;
}

.about-section{
  background-color: $cGray;
  position: relative;
  height: 50vh;
  margin-bottom: 30%;

  opacity: 0;
    transform: translateY(20px);
    transition: opacity .5s, transform .5s;

    &.appear{
      opacity: 1;
      transform: translateY(0);

    }

  
   & > img{
    width: 70%
   }



  
  .about-item2{
    width:90%;
    height: 55%;
    background-color: $cWhite;
    position: absolute;
    bottom: -10%;
    right: 0;
    
    
  & > p {
    @extend .font-sm;
    line-height: 155%;
    width: 90%;
    height: 90%;
    padding: 10%;
  

  }

  }
}


  









.works{
  

  &__container{
    width: 90%;
    margin: 0 auto;
    display: flex;
  flex-direction:column;
  }

  &__item{
    width: 100%;
    height: 200px;
    margin-bottom: 5%;
    & >img{
      width: 100%;
      height: 100%;
      object-fit: cover;
       margin-bottom: 5%; 
     }
   }
 }
  
  
  
  


   
  






  .members{
    margin-top: 16%;
    &__container{
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @extend .content-width;
      justify-content: space-between;
    }


    

    &__title{
      @extend .font-lar;
      
    }

    &__btn{
      margin-top: 9%;
      margin-bottom: 9%;
      text-align: center;
      flex-basis: 100%;
    }

    &__item{
      flex-basis: 47%;
      justify-content: space-between;
    }
    
    
   
    &__img{
      height: 150px;
      overflow: hidden;
      margin-bottom: 10px;

      & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    &__inner{
      position: relative;
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90%;
        background-color: $cGreen;
        z-index: -100;
      }
    }
  }

  

  .contact{
    margin-top: 30%;
    @extend .content-width;
    background-color: $cGray;
    
    
    & h1{
      text-align: center;
      margin-top: 0%;
    }
    
    &__inner{
      @extend .flex;
      text-align: center;
      
      & .contact-texts{
        @extend .font-sm;
      }
      
      &__btn{
        width: 100%;
        text-align: center;
      }
    }
  }
  
  #contact_link{
    text-decoration: none;
    color: $cWhite;
    &:hover{
      background-color: $cWhite;
      color: $cBlack;
      
    }
  }
  
  #CONTACT{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .5s, transform .5s;

    &.appear{
      opacity: 1;
      transform: translateY(0);

    }
    
  }
  
  
  

  
    
  
  

  
  











footer{
  margin-top: 30%;
  margin-bottom: 0;
  background-color: $cBlack;
  text-align:center;

  & > p{
    color: $cWhite;
    @extend .font-sm;
  }

}